<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>VtMQ - Edit person page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/jquery.datetimepicker.min.css"/>
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/javascript/jquery.datetimepicker.full.min.js"></script>
</head>
<body>
<!--Header begin-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">VtMG</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/" th:text="#{menu.home}"></a></li>
            <li><a href="/api/gender" th:text="#{menu.gender}"></a></li>
            <li><a href="/api/kind" th:text="#{menu.kind}"></a></li>
            <li><a href="/api/place" th:text="#{menu.place}"></a></li>
            <li class="active"><a href="/api/person" th:text="#{menu.person}"></a></li>
            <li><a href="/api/event" th:text="#{menu.event}"></a></li>
        </ul>
    </div>
</nav>
<!--Header end-->

<!--Details begin-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form class="form-horizontal" action="/api/person/update" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label class="col-md-4 control-label" for="personNameInput" th:text="#{inputform.name}"></label>
                    <div class="col-md-8">
                        <input class="form-control" id="personNameInput" type="text" name="personName"
                               th:value="${person.name}" size="20"/>
                    </div>
                    <label class="col-md-4 control-label" for="personBirthDateInput"
                           th:text="#{inputform.birthdate}"></label>
                    <div class="col-md-8">
                        <input class="form-control" id="personBirthDateInput" type="text" name="personBirthDate"
                               th:value="${person.birthDate}"/>
                    </div>
                    <label class="col-md-4 control-label" for="personDeathDateInput"
                           th:text="#{inputform.deathdate}"></label>
                    <div class="col-md-8">
                        <input class="form-control" id="personDeathDateInput" type="text" name="personDeathDate"
                               th:value="${person.deathDate}"/>
                    </div>
                    <label class="col-md-4 control-label" for="personDetailsInput"
                           th:text="#{inputform.details}"></label>
                    <div class="col-md-8">
                        <input class="form-control" id="personDetailsInput" type="text" name="personDetails"
                               th:value="${person.details}" size="20"/>
                    </div>
                    <label class="col-md-4 control-label" for="personKindInput" th:text="#{inputform.kind}">Kind</label>
                    <div class="col-md-8">
                        <select class="form-control" id="personKindInput" name="personKindId" size="1">
                            <option th:each="kind : ${allKinds}"
                                    th:value="${kind.getId()}"
                                    th:selected="${kind.getId() == person.kind.id}"
                                    th:text="${kind.getDetails()}">
                            </option>
                        </select>
                    </div>
                    <label class="col-md-4 control-label" for="personGenderInput" th:text="#{inputform.gender}"></label>
                    <div class="col-md-8">
                        <select class="form-control" id="personGenderInput" name="personGenderId" size="1">
                            <option th:each="gender : ${allGenders}"
                                    th:value="${gender.getId()}"
                                    th.selected="${gender.getId() == person.gender.id}"
                                    th:text="${gender.getDescription()}">
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12" align="center">
                        <input class="btn btn-success" type="submit" th:value="#{button.save}"/>
                        <input type="hidden" name="id" th:value="${person.id}">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
<!--Details end-->
<script>
    jQuery('#personBirthDateInput').datetimepicker({
    timepicker:false,
    format:'d.m.Y',
    lang:'hu'
    });

    jQuery('#personDeathDateInput').datetimepicker({
    timepicker:false,
    format:'d.m.Y.',
    lang:'hu'
    });

</script>
</body>
</html>