<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>VtMQ - Events page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/jquery.datetimepicker.min.css"/>
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/javascript/jquery.datetimepicker.full.min.js"></script>
</head>
<body>


<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">VtMG</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/" th:text="#{menu.home}"></a></li>
            <li><a href="/api/gender" th:text="#{menu.gender}"></a></li>
            <li><a href="/api/kind" th:text="#{menu.kind}"></a></li>
            <li><a href="/api/place" th:text="#{menu.place}"></a></li>
            <li><a href="/api/person" th:text="#{menu.person}"></a></li>
            <li class="active"><a href="/api/event" th:text="#{menu.event}"></a></li>
        </ul>
    </div>
</nav>

<!--Details begin-->
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-6">
            <form class="form-horizontal" action="/api/event" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label class="col-xs-4 control-label" for="eventDescriptionInput"
                           th:text="#{inputform.description}"></label>
                    <div class="col-xs-8">
                        <input class="form-control" id="eventDescriptionInput" type="text" name="eventDescription"
                               size="100"/>
                    </div>
                    <label class="col-xs-4 control-label" for="eventDateInput" th:text="#{inputform.date}"></label>
                    <div class="col-xs-8">
                        <input class="form-control" id="eventDateInput" type="text" name="eventDate"/>
                    </div>
                    <label class="col-xs-4 control-label" for="eventDetailsInput"
                           th:text="#{inputform.details}"></label>
                    <div class="col-xs-8">
                        <input class="form-control" id="eventDetailsInput" type="text" name="eventDetails" size="100"/>
                    </div>
                    <label class="col-xs-4 control-label" for="placeInput" th:text="#{inputform.place}">Place</label>
                    <div class="col-xs-8">
                        <select class="form-control" id="placeInput" name="placeViewId" size="1">
                            <option th:each="place : ${allPlaces}"
                                    th:value="${place.getId()}"
                                    th:text="${place.getName()}">
                            </option>
                        </select>
                    </div>
                    <label class="col-xs-4 control-label" for="peopleInput"
                           th:text="#{inputform.participants}">Place</label>
                    <div class="col-xs-8">
                        <select class="form-control" id="peopleInput" name="participandViewIds" size="5"
                                multiple="multiple">
                            <option th:each="person : ${allPeople}"
                                    th:value="${person.getId()}"
                                    th:text="${person.getName()}">
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12" align="center">
                        <input class="btn btn-success" type="submit" th:value="#{button.save}"/>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-xs-3"></div>
    </div>
</div>
<!--Details end-->

<!--List begin-->
<div class="container-fluid">
    <!--List header begin-->
    <div class="row">
        <div class="col-xs-6 col-xs-4"></div>
        <div class="col-xs-6 col-xs-4" align="center"><h3><label th:text="#{menu.place}"></label></h3></div>
        <div class="col-xs-6 col-xs-4"></div>
    </div>
    <!--List header end-->

    <!--List content begin-->
    <th:block th:each="event : ${events}">
        <div class="row" th:classappend="${event.id % 2 == 0 ? 'bg-primary' : 'bg-info' }">
            <div class="col-xs-1"></div>
            <div class="col-xs-2" th:text="${event.description}"></div>
            <div class="col-xs-1" th:text="${#dates.format(event.date, 'dd-MMM-yyyy HH:mm')}"></div>
            <div class="col-xs-1" th:text="${event.place.name}"></div>
            <div class="col-xs-2" th:text="${#strings.listJoin(event.participants.![name], ', ')}"></div>
            <div class="col-xs-2" th:text="${event.details}"></div>
            <div class="col-xs-2" align="right">
                <div class="col-xs-8" align="right">
                    <form class="form-horizontal" action="/api/event/update" method="get" enctype="multipart/form-data">
                        <input class="btn btn-warning btn-xs" type="submit" th:value="#{button.edit}"/>
                        <input type="hidden" name="id" th:value="${event.id}">
                    </form>
                </div>
                <div class="col-xs-4" align="right">
                    <form class="form-horizontal" action="/api/event/delete" method="post"
                          enctype="multipart/form-data">
                        <input class="btn btn-danger btn-xs" type="submit" th:value="#{button.delete}"/>
                        <input type="hidden" name="id" th:value="${event.id}">
                    </form>
                </div>
            </div>
            <div class="col-xs-1"></div>
        </div>
    </th:block>
    <!--List content end-->
</div>
<!--List end-->
<script>
    jQuery('#eventDateInput').datetimepicker({
    format:'d.m.Y H:i',
    lang:'hu'
    });

</script>
</body>
</html>