<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>VtMQ - Index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">VtMG</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/" th:text="#{menu.home}"></a></li>
                <li><a href="/api/gender" th:text="#{menu.gender}"></a></li>
                <li><a href="/api/kind" th:text="#{menu.kind}"></a></li>
                <li><a href="/api/place" th:text="#{menu.place}"></a></li>
                <li><a href="/api/person" th:text="#{menu.person}"></a></li>
                <li><a href="/api/event" th:text="#{menu.event}"></a></li>
            </ul>
        </div>
    </nav>
    <h1>DAS IST MAIN PAGE</h1>

    <div th:utext="${image}"></div>

</div>
</body>

</html>