<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>VtMQ - Kinds page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">VtMG</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/" th:text="#{menu.home}"></a></li>
            <li><a href="/api/gender" th:text="#{menu.gender}"></a></li>
            <li class="active"><a href="/api/kind" th:text="#{menu.kind}"></a></li>
            <li><a href="/api/place" th:text="#{menu.place}"></a></li>
            <li><a href="/api/person" th:text="#{menu.person}"></a></li>
            <li><a href="/api/event" th:text="#{menu.event}"></a></li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form class="form-horizontal" action="/api/kind" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label class="col-md-4 control-label" for="kindDetailsInput" th:text="#{inputform.details}"></label>
                    <div class="col-md-8">
                        <input class="form-control" id="kindDetailsInput" type="text" name="kindDetails" size="20"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12" align="center">
                        <input class="btn btn-success" type="submit" th:value="#{button.save}"/>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading" th:text="#{menu.kind}" />
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Details</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                <th:block th:each="kind : ${kinds}">
                    <tr>
                        <td th:text="${kind.details}" />
                        <td>
                            <div class="row">
                                <div class="col-xs-1">
                                    <form class="form-inline" action="/api/kind/update" method="get" enctype="multipart/form-data">
                                        <input class="btn btn-warning btn-xs" type="submit" th:value="#{button.edit}"/>
                                        <input type="hidden" name="id" th:value="${kind.id}">
                                    </form>
                                </div>
                                <div class="col-xs-1" />
                                <div class="col-xs-1">
                                    <form class="form-inline" action="/api/kind/delete" method="post" enctype="multipart/form-data">
                                        <input class="btn btn-danger btn-xs" type="submit" th:value="#{button.delete}"/>
                                        <input type="hidden" name="id" th:value="${kind.id}">
                                    </form>
                                </div>
                            </div>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>

